.head {
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.amount {
  font-size: 27px;
}
